// This is for the splash Screen
// #splash_border{
//   border: 10px #006a53 solid;
//   #splash_image{
//       margin: 0 auto;
//       text-align: center;
//       line-height: 35;
//   }
// }

#volunteer_donor_option{
      display: flex;
}
.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0;
}
